amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
attrs==24.3.0
billiard==4.2.1
black==24.10.0
celery==5.4.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coreapi==2.3.3
coreschema==0.0.4
cron-descriptor==1.4.5
Django==4.2.18
django-celery-beat==2.7.0
django-cors-headers==4.6.0
django-filter==24.3
django-mail-templated==2.6.5
django-redis==5.4.0
django-timezone-field==7.1
djangorestframework==3.14.0
djangorestframework_simplejwt==5.4.0
drf-yasg==1.21.8
exceptiongroup==1.2.2
Faker==35.0.0
flake8==7.1.1
gunicorn==23.0.0
idna==3.10
importlib_resources==6.5.2
inflection==0.5.1
iniconfig==2.0.0
itypes==1.2.0
jalali_core==1.0.0
jdatetime==5.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kombu==5.4.2
Markdown==3.7
MarkupSafe==3.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
prompt_toolkit==3.0.50
psycopg==3.2.3
psycopg-binary==3.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
PyJWT==2.10.1
pytest==8.3.4
pytest-django==4.9.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.1
requests==2.32.3
rpds-py==0.22.3
six==1.17.0
sqlparse==0.5.3
swagger-spec-validator==3.0.4
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
