<!-- accounts/login.html -->
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>ورود</h1>
    <form id="login-form">
        <input type="email" name="email" placeholder="ایمیل" required>
        <input type="password" name="password" placeholder="رمز عبور" required>
        <button type="submit">وارد ب</button>
    </form>


    <script>
        $('#login-form').on('submit', function(e) {
            e.preventDefault();
            const formData = $(this).serialize();
            $.post(window.location.origin + '/accounts/api/v1/jwt/create/', formData, function(response)  {
                // ذخیره توکن در localStorage
                localStorage.setItem('access_token', response.access);

                localStorage.setItem('user_email', response.email); // فرض بر این است که ایمیل نیز در پاسخ API برمی‌گردد

                // هدایت به صفحه تسک‌ها
                window.location.href = '/api/v1/lists/'; // آدرس صحیح را وارد کنید
            }).fail(function(xhr) {
                const errorMessage = xhr.responseJSON && xhr.responseJSON.details ? xhr.responseJSON.details : 'خطای ناشناخته';
                alert('خطا: ' + errorMessage);
            });
        });
    </script>
</body>
</html>